
.title {
    display: block;
    width: calc(100% - 40px);
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    /* background-color: #ff7777; */
    text-align: center;
    color: #333;
    border-bottom: 2px solid #ff7777;
}

.control-box > i {
    padding-right: 50px;
}


.checkout-form, .checkout-summary {
    display: block;
}



.container {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}

@media only screen and (max-width: 900px) {
    .checkout-form {
        width: 100%;
        padding: 2%;
    }
    
    .checkout-summary {
        width: 100%;
        padding: 2%;
    }
}

@media only screen and (min-width: 900px) {
    .checkout-form {
        float: left;
        width: calc(65% - 2%);
    }
    
    .checkout-summary {
        float: right;
        width: calc(35% - 2%);
    }
}