
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" ng-controller="ProductsController" ng-init="initPage()">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="m-t-0 header-title"><b>Product list</b></h4>
                    <p class="text-muted m-b-30 font-14">
                        รายการสินค้าทั้งหมดที่มีในระบบ {{greeting}}
                    </p>
                </div>
                <div class="col-lg-6 text-right">
                    <button type="button" class="btn btn-primary" onclick="window.location = '/Product/New';">สร้างสินค้า</button>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-4 col-lg-3 col-xs-12" ng-repeat="p in products">
                    <!-- Simple card -->
                    <div class="card m-b-20">
                        <img class="card-img-top img-fluid" src="{{p.images[0].fileName}}" alt="Card image cap" onerror="this.src='/Content/images/errors/no-product-image.png';" />
                        <div class="card-body">
                            <h5 class="card-title">{{p.name}}</h5>
                            <p class="card-text">
                                <label style="color: #2cac3a" ng-hide="!p.isActive"><i class="ti-check"></i> แสดงสินค้าในหน้าเว็บ</label>
                                <label style="color: red" ng-hide="p.isActive"><i class="ti-close"></i> ไม่แสดงในหน้าเว็บ</label>
                            </p>
                            <p class="card-text">
                                <label style="color: #2cac3a" ng-hide="!isThereOnSale(p)"><i class="ti-shopping-cart"></i> กำลังเปิดขายสินค้านี้</label>
                                <label style="color: red" ng-hide="isThereOnSale(p)"><i class="ti-na"></i> สิ้นสุดการขายสินค้านี้</label>
                            </p>
                            <a href="~/Product/Edit/{{p.id}}" class="btn btn-primary">แก้ไขข้อมูล</a>
                            <a href="#" class="btn btn-danger" ng-click="delete(p)">ลบสินค้า</a>
                        </div>
                    </div>
                </div><!-- end col -->

            </div>
            <!-- end row -->

        </div> <!-- end card-box -->
    </div><!-- end col -->
</div>
<!-- end row -->


@section Scripts {

    <script type="text/javascript" src="~/Content/js/controllers/products.js"></script>

}