<div class="title">
  ยืนยันการโอนเงิน
</div>

<div class="container">

  <div class="checkout-box">
    <div class="checkout-form">
      <form #f1="ngForm" (ngSubmit)="setOrderCode(f1)">
        <div class="form-box" *ngIf="!isSetOrderCode">
          <div class="form-title">กรอก Order code</div>
          <div class="row">
            <div class="form-control">
              <i>Order code
                <label class="error-message" [hidden]="(orderCode.valid || !orderCode.touched) && !f1.submitted">(ไม่สามารถเป็นค่าว่างได้)</label>
              </i>
              <input type="text" name="orderCode" [(ngModel)]="payment.orderCode" #orderCode="ngModel" required />
            </div>
          </div>
          <div class="row">
            <div class="form-control">
              <button class="btn btn-main" type="submit">Enter</button>
            </div>
          </div>
        </div>
      </form>
      <form #f2="ngForm" (ngSubmit)="confirm(f2)">
        <div class="form-box" *ngIf="isSetOrderCode">
          <div class="form-title">รายละเอียดการจ่ายเงิน</div>
          <div class="row">
            <div class="form-control">
              <i>Order code
              </i>
              <input type="text" name="orderCode" [ngModel]="payment.orderCode" disabled />
            </div>
          </div>
          <div class="row">
            <div class="form-control">
              <i>ชื่อ - นามสกุล
              </i>
              <input type="text" name="name" [ngModel]="payment.firstName + ' ' + payment.lastName" disabled />
            </div>
          </div>
          <div class="row">
            <div class="form-control">
              <i>จำนวนเงินที่โอน
                <label class="error-message" [hidden]="payment.money > 0">(ต้องมีค่ามากกว่า 0)</label>
              </i>
              <input type="number" name="money" [(ngModel)]="payment.money" #money2="ngModel" min="1" required OnlyNumber="true" />
            </div>
          </div>
          <div class="row">
            <div class="form-control">
              <i>วันที่โอนเงิน
                <label class="error-message" [hidden]="(payDate2.valid || !payDate2.touched) && !f2.submitted">(ไม่สามารถเป็นค่าว่างได้)</label>
              </i>
              <input type="date" name="payDate" [(ngModel)]="payDate" #payDate2="ngModel" required />
              <!-- <app-jj-date-picker [(date)]="payDate" [title]="''"></app-jj-date-picker> -->
            </div>
          </div>
          <div class="row">
            <div class="form-control" style="display: inline-block; width: 150px">
              <i>เวลาโอน (ชั่วโมง)
                <!-- <label class="error-message">(ไม่สามารถเป็นค่าว่างได้)</label> -->
              </i>
              <select name="hour" [(ngModel)]="hour">
                <option *ngFor="let h of hours" ng-value="h">{{ h }} </option>
              </select>
            </div>
            <div class="form-control" style="display: inline-block; width: 150px">
              <i>เวลาโอน (นาที)
                <!-- <label class="error-message">(ไม่สามารถเป็นค่าว่างได้)</label> -->
              </i>
              <select name="minute" [(ngModel)]="minute">
                <option *ngFor="let m of minutes" ng-value="m">{{ m }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-control">
              <i>แนบไฟล์
                <!-- <label class="error-message">(ไม่สามารถเป็นค่าว่างได้)</label> -->
              </i>
              <input type="file" name="files" id="files" (change)="uploadSlip($event.target.files)" />
            </div>
          </div>
          <div class="row" *ngIf="payment.file != null">
            <div class="form-control">
              <i>หลักฐานการโอนเงิน
              </i>
              <img [src]="payment?.file.fileName">
            </div>
          </div>
          <div class="row">
            <div class="form-control">
              <button class="btn btn-main" type="submit">Enter</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="checkout-box">
    <div class="checkout-form">
      <div class="form-box">
        <div class="form-title">วิธีการชำระเงิน</div>
        <div class="row">
          <div class="col-lg-12">
            <img class="payment-img" src="../contents/images/promt-pay-psk-48.png" />
          </div>
        </div>
      </div>
    </div>
  </div>

</div>