
.title {
    display: block;
    width: calc(100% - 40px);
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    /* background-color: #ff7777; */
    text-align: center;
    color: #333;
    border-bottom: 2px solid #ff7777;
}

.control-box > i {
    padding-right: 50px;
}


.checkout-form, .checkout-summary {
    display: block;
    width: calc(100%-2%);
    padding: 2%;
}



.container {
    display: block;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

img {
    display: block;
    max-width: 100%;
}

img.payment-img {
    margin: 0px auto;
}

.form-box{
    display: block;
    padding: 20px;
    width: calc(100% - 40px);
    /* border: 1px solid #ffc3c3;
    background-color: #fff; */
    background-color: #fffafd;
    border: 1px solid #f3deec;
    box-shadow: 0px 0px 10px 0px #ccc;
}

.form-title {
    display: block;
    font-size: 20px;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    /* border-bottom: 1px solid #ccc; */
}

.row {
    display: block;
}

.form-control {
    display: block;
    padding: 10px;
    width: calc(100% - 20px);
    /* border: 1px solid #eee; */
}
.form-control > i {
    display: block;
    color: #aaa;
}
.form-control > input, .form-control > textarea, .form-control > select {
    display: block;
    width: calc(100% - 10px);
    padding: 5px;
    border: 0px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    resize: none;
}
.form-control >  .ng-invalid.ng-touched {
    border-bottom: 1px solid red;
}
.form-control > .ng-valid {
    border-bottom: 1px solid rgb(38, 170, 38);
}
.form-control > textarea {
    height: 100px;
}

.error-message {
    color: #e58888;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
