@model  int

<section ng-controller="PostController" ng-init="initialScreen(@Model, '@Url.Action("Index", "Post")')">
    <form name="product" ng-submit="Save()" ng-valid>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            @*<button class="btn btn-primary" ng-click="test()">บันทึกและเพิ่มสินค้ารายการอื่น</button>*@
                            <button class="btn btn-primary" type="submit" ng-click="save()">บันทึก</button>
                            <button class="btn btn-default" type="button" ng-click="cancle()">ย้อนกลับ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>ข้อมูลทั่วไปของสินค้า</b></h4>
                    <div class="row">

                        <div class="col-12">
                            <div class="p-20">
                                <div class="form-group row">
                                    <label class="col-lg-2 col-sm-3 col-form-label">Title</label>
                                    <div class="col-lg-10 col-sm-9">
                                        <input type="text" ng-model="post.title" class="form-control"  />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-2 col-sm-3 col-form-label">ประเภท Post</label>
                                    <div class="col-lg-10 col-sm-9">
                                        <select class="form-control" ng-model="postType">
                                            <option ng-repeat="p in postTypes" value="{{p.id}}">{{p.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-2 col-sm-3 col-form-label">เผยแพร่บทความ</label>
                                    <div class="col-lg-10 col-sm-9">
                                        <input type="checkbox" ng-model="post.isActive" />
                                    </div>
                                </div>

                                <div class="row">
                                    <h4 class="m-t-0 header-title col-lg-12" style="margin-bottom: 20px;"><b>รายละเอียด</b><b class="error">*</b></h4>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="summernote" id="detail"></div>
                                    </div>
                                </div>
                                

                            </div>
                        </div>


                    </div>
                    <!-- end row -->

                </div> <!-- end card-box -->

                
            </div><!-- end col -->
        </div>
    </form>
</section>



