
<div class="pag-bottom">
  <div class="pag-bottom-body">
    <ul>
      <li>Design and develop by Jirawat Jannet. Contract me at <a href="mailto:jirawat.jannet@gmail.com?Subject=ติดต่อมาจากเว็บ%20paisuekong">jirawat.jannet@gmail.com</a></li>
      <li>ใช้ design บางส่วนจากเว็บ <a href="https://shop.bnk48.com" target="_blank">Shop BNK48</a> เพื่อจะได้คุ้นเคยกับการใช้งาน</li>
      <li>หากไม่ต้องการให้ใช้ กรุณาติดต่อผู้พัฒนาโดยตรง จะรีบแก้ไขให้ทันทีครับ</li>
      <!-- <li>.Net Core / Angular 5 / Cloudflare / Google Cloud Storage</li> -->
    </ul>
  </div>
</div>