
/*------------  .image-box  ---------------------*/

.image-box {
    display: block;
    position: relative;
    float: left;
    border: 1px solid #ccc;
    height: 150px;
    width: 150px;
    padding: 4px;
    margin: 5px;
}

    .image-box > .remove-img {
        display: none;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        height: 25px;
        background: rgba(150, 150, 150, 0.7);
        cursor: pointer;
        color: #FFF;
        font-weight: bold;
        transition: 0.2s background;
    }

.remove-img:hover {
    background: rgba(180, 180, 180, 0.7);
}

.image-box:hover > .remove-img {
    display: block;
}

.image-box > a > img, .image-box > img {
    display: block;
    height: 140px;
    width: 140px;
    object-fit: cover;
}

.image-box.selected {
    border: 3px solid #a7e174;
    padding: 2px;
}

.image-box > i {
    display: none;
}

.image-box.selected > i {
    display: block;
    position: absolute;
    top: 5px;
    font-size: 40px;
    color: #a7e174;
}




/*---------- loading-inner-box ---------------------*/
.loading-inner-box {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
}
    .loading-inner-box > img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -75px;
        margin-left: -75px;
        width: 150px;
    }