
.title {
    display: block;
    width: calc(100% - 40px);
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    /* background-color: #ff7777; */
    text-align: center;
    color: #333;
    border-bottom: 2px solid #ff7777;
}


.container {
    display: block;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}


div.confirm-box {
    display: block;
    padding: 2%;
    width: 66%;
    text-align: center;
    margin: 0 auto;
    background-color: #fff3f3;
    border: 2px solid #ff7777;
}
div.confirm-box > label {
    display: block;
    font-size: 20px;
    line-height: 2em;
}
div.confirm-box > label > i {
    font-weight: bold;
    color: #ff7777;
}