content.goods-welcome {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: blanchedalmond;
}

.goods-welcome-logo > img {
    display: block;
    margin: 0px auto;
    height: 150px;
    padding: 20px;
}

.goods-welcome-detail {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 2em;
}
.goods-welcome-detail > p {
    margin: 5px 0px;
}