<content class="goods-welcome">
    <div class="goods-welcome-logo">
        <img src="contents/images/logo/logo-red.png" />
    </div>
    <div class="goods-welcome-detail">
        <p>สินค้า PSK48 เพื่อสมทบทุน Project เพื่อน้อง Orn BNK48</p>
        <p>กำไรทุกบาท เข้า project ทั้งหมด โดยไม่หักอะไรทั้งสิ้น</p>
        <p>แม้แต่ค่ารถ ค่าที่พัก หรือ ค่ากิน ของทีมงาน</p>
    </div>
</content>

<div class="content-box ">
    <div class="content-box-body" style="padding-top: 30px;">


        <div app-goods-item class="product-box" *ngFor="let product of products" [product]="product"></div>

        <div style="clear: both;"></div>
    </div>
</div>