body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position-x: center;
}

div.form-post {
    width: 600px;
    margin: auto;
    border-radius: 0px;
    box-shadow: 0px 0px 30px 5px #ccc;
    border: 2px solid red;
    border-top-color: red;
    border-left-color: red;
    border-right-color: blue;
    border-bottom-color: blue;
    background-color: rgba(255,255,255,0.95);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    body {
        background-size: auto;
        background-position-x: center;
    }
}


.card-title > img {
    display: block;
    height: 100px;
   margin: auto;
}



.btn-info.disabled, .btn-info:disabled {
    cursor: default;
}