<div id='app-root' class="container-fluid">
  <section class="container-body">

    <app-header id="appHeader"></app-header>

    <div class="p-container">
        <router-outlet ></router-outlet>
    </div>


  </section>

  <!-- <app-menu-router></app-menu-router> -->
</div>

<div id="loading">
  <img src="contents/images/giphy.gif" />
</div>

<script type="text/javascript">

  var showHeader = function () {
    document.getElementById('appHeader').style.display = 'block';
  }

  var hideHeader = function () {
    document.getElementById('appHeader').style.display = 'none';
  }

  var loading = function (isLoading) {
    if (isLoading)
      document.getElementById('loading').style.display = 'block';
    else
      document.getElementById('loading').style.display = 'none';
  }
</script>