@model int
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_ShopBackEndLayout.cshtml";
}

<section ng-controller="ProductController" ng-init="initialProduct(@Model)">
    <form name="product" ng-submit="Save()" ng-valid>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            @*<button class="btn btn-primary" ng-click="test()">บันทึกและเพิ่มสินค้ารายการอื่น</button>*@
                            <button class="btn btn-primary" type="submit">บันทึก</button>
                            <button class="btn btn-default" type="button" ng-click="cancle()">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>ข้อมูลทั่วไปของสินค้า</b></h4>
                    <div class="row">

                        <div class="col-12">
                            <div class="p-20">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">รหัสสินค้า</label>
                                    <div class="col-6">
                                        <input type="hidden" ng-model="product.id" />
                                        <input type="text" ng-model="product.code" class="form-control" disabled />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label">ชื่อสินค้า<b class="error">*</b></label>
                                    <div class="col-9">
                                        <input type="text" ng-model="product.name" class="form-control" ng-required="true" />
                                    </div>
                                </div>

                                <hr />

                                <div class="form-group row">

                                    <label class="col-3 col-form-label">หน่วยสินค้า<b class="error">*</b></label>
                                    <div class="col-3">
                                        <input type="text" ng-model="product.unitName" class="form-control" ng-required="true" />
                                    </div>

                                    <label class="col-3 col-form-label">น้ำหนัก<b class="error">*</b></label>
                                    <div class="col-3">
                                        <input type="text" ng-model="product.weight" class="form-control" ng-required="true" />
                                        <span class="font-13 text-muted">หน่วย กรัม</span>
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <label class="col-3 col-form-label">แสดงในร้านค้า</label>
                                    <div class="col-3">
                                        <input type="checkbox" ng-model="product.isActive" />
                                        @*data-plugin="switchery" data-color="#3bafda" data-size="small"*@
                                    </div>


                                </div>

                            </div>
                        </div>


                    </div>
                    <!-- end row -->

                </div> <!-- end card-box -->

                <div class="card-box">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="m-t-0 header-title"><b>ภาพสินค้า</b></h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="p-20">

                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="button" class="btn btn-info waves-effect waves-light" ng-click="Image.openProductImageDialog()">เพิ่มภาพสินค้า</button>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="row images-container">
                                                <div class="image-box" ng-repeat="image in images">
                                                    <a href="{{ image.fileName }}" class="image-link">
                                                        <img src="{{ image.fileName }}" />
                                                    </a>
                                                    <div class="remove-img" ng-click="Image.remove(image)">เอาออก</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="card-box">
                    <h4 class="m-t-0 header-title" style="margin-bottom: 20px;"><b>รายละเอียด</b><b class="error">*</b></h4>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="summernote" id="detail"></div>
                        </div>
                    </div>
                </div>

                <div class="card-box">
                    <h4 class="m-t-0 header-title" style="margin-bottom: 20px;"><b>เงื่อนไข</b></h4>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="summernote" id="note"></div>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-5">

                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>ราคาสินค้า</b></h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-20">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">ต้นทุนสินค้า</label>
                                    <div class="col-9">
                                        <input type="text" ng-model="product.cost" class="form-control" />
                                        <span class="font-13 text-muted">บาท</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">ราคาขายจริง</label>
                                    <div class="col-9">
                                        <input type="text" ng-model="product.price" class="form-control" />
                                        <span class="font-13 text-muted">บาท</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>การ Pre-Order</b></h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-20">
                                <div class="form-group row">
                                    <label class="col-6 col-form-label">เป็นสินค้าชนิด pre-order</label>
                                    <div class="col-6">
                                        <input type="checkbox" ng-model="product.isPreOrder" />
                                        @*checked data-plugin="switchery" data-color="#3bafda" data-size="small"*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-6 col-form-label">วันที่เริ่ม</label>
                                    <div class="col-6">
                                        <div class="input-group">
                                            <input type="text" id="preStart" class="form-control datepicker" placeholder="dd/MM/yyyy" ng-disabled="!product.isPreOrder">
                                            <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                                        </div><!-- input-group -->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-6 col-form-label">วันที่สิ้นสุด</label>
                                    <div class="col-6">
                                        <div class="input-group">
                                            <input type="text" id="preEnd" class="form-control datepicker" placeholder="dd/MM/yyyy" ng-disabled="!product.isPreOrder">
                                            <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                                        </div><!-- input-group -->
                                        <span class="font-13 text-muted">ถ้าไม่มีวันที่สิ้นสุด ไม่ต้องกรอก</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>Stock สินค้า</b></h4>
                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <div class="form-group row">
                                    <label class="col-6 col-form-label">ใช้ระบบ stock</label>
                                    <div class="col-6">
                                        <input type="checkbox" ng-model="product.isUseStock" />
                                        @*checked data-plugin="switchery" data-color="#3bafda" data-size="small"*@
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-6 col-form-label">จำนวนสินค้าใน stock เริ่มต้น {{stockQty}}</label>
                                    <div class="col-6">
                                        <input class="form-control" type="text" value="" ng-model="stockQty" ng-disabled="!product.isUseStock || stockQty > 0">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>ราคาขนส่ง</b></h4>
                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <div class="form-group row">
                                    <label class="col-6 col-form-label">ราคาขนส่ง<b class="error">*</b></label>
                                    <div class="col-6">
                                        <input type="text" class="form-control" ng-model="product.shippintPriceRate" ng-required="true" />
                                        <span class="font-13 text-muted">บาท</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-6 col-form-label">ต่อจำนวนสินค้า<b class="error">*</b></label>
                                    <div class="col-6">
                                        <input class="form-control" type="text" value="" ng-model="product.qtyShippingPriceCeiling" ng-required="true" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</section>


@Html.Partial("~/Views/Common/_FileControl.cshtml", "product")


@section Styles {
    <link rel="stylesheet" href="~/Content/plugins/switchery/switchery.min.css" />
    <link href="~/Content/plugins/summernote/summernote.css" rel="stylesheet" />
    <link href="~/Content/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/Content/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/magnific-popup/dist/magnific-popup.css" rel="stylesheet" />

    <style>
        .error {
            margin-left: 10px;
            font-size: 16px;
        }
    </style>
}

@section Scripts {
    <script type="text/javascript" src="~/Content/plugins/switchery/switchery.min.js"></script>
    <script src="~/Content/plugins/summernote/summernote.min.js"></script>
    <script src="~/Content/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/magnific-popup/dist/jquery.magnific-popup.min.js" type="text/javascript"></script>

    <script src="~/Content/ShopManage/js/fileControl.js"></script>

    <script src="~/Content/ShopManage/pages/Controllers/Product.js"></script>



}