<div class="form-box">
  <div class="title">ข้อมูลลูกค้าและการจัดส่ง</div>

  <div class="row">
    <div class="form-control required">
      <i>Email</i>
      <input type="email" />
    </div>
  </div>

  <div class="row">
    <div class="form-control required">
      <i>เบอร์โทร</i>
      <input type="email" />
    </div>
  </div>

  <div class="row">
    <div class="form-control required">
      <i>ชื่อ</i>
      <input type="email" />
    </div>
  </div>

  <div class="row">
    <div class="form-control required">
      <i>นามสกุล</i>
      <input type="email" />
    </div>
  </div>

  <div class="row">
    <div class="form-control required">
      <i>ที่อยู่</i>
      <textarea></textarea>
    </div>
  </div>

  <div class="row">
    <div class="form-control required">
      <i>จังหวัด</i>
      <select>
        <option value="bankok">กรุงเทพมหานคร</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-control required">
      <i>รหัสไปรษณีย์</i>
      <input type="email" />
    </div>
  </div>

</div>