<content class="web-welcome">
  <div class="web-welcome-title">SALMORN | แด่แฟนคลับอรอุ๋ง</div>
  <div class="web-welcome-detail">
      <p>ยินดีต้อนรับแซวม่อนหน้าใหม่ทุกคน</p>
      <p>ท่านว่ายทวนน้ำมาถึงรังแมวน้ำแล้ว</p>
      <p>ยินดีต้อนรับกลับบ้าน</p>
  </div>
</content>

<div class="content-box news">
  <div class="content-box-title">
      <h1>News / Activities<a href="#">ดูเพิ่มเติม</a></h1>
      
  </div>
  <div class="content-box-body">
      <div class="news-content-box">
          <div class="news-content-box-image">
              <img src="contents/images/top-slider/01.jpg" />
          </div>
          <div class="news-content-box-body">
              <div class="news-content-box-title">
                  <a href="#">ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2</a>
              </div>
              <div class="news-content-box-detail">
                  ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 . . .
              </div>
          </div>
          <div style="clear:both;"></div>
      </div>

      <div class="news-content-box">
          <div class="news-content-box-image">
              <img src="contents/images/top-slider/01.jpg" />
          </div>
          <div class="news-content-box-body">
              <div class="news-content-box-title">
                  <a href="#">ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2</a>
              </div>
              <div class="news-content-box-detail">
                  ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 ควันหลงงานวันออดิชั่น รายการท่องเที่ยวญี่ปุ่น ครั้งที่ 2 . . .
              </div>
          </div>
          <div style="clear:both;"></div>
      </div>
  </div>
</div>

<div class="content-box goods">
  <div class="content-box-title"><h1>Goods<a href="#">ดูเพิ่มเติม</a></h1></div>
  <div class="content-box-body">
      <div class="product-box">
          <img src="contents/images/top-slider/01.jpg" />
          <div class="product-box-title">
              เปิดแล้ว!!! Pre-Order SALMORN T-Shirt
          </div>
          <ul>
              <li><b>ราคา: </b> 299 บาท</li>
              <li><b>ระยะเวลา pre-order: </b> ไม่กำหนด</li>
              <li style="padding: 10px 0px;">
                  <button class="btn btn-main">Buy it now</button>
                  <button class="btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                  <!--<div class="input-int-group">
                      <button type="button" class="btn btn-main">-</button>
                      <input type="text" class="form-control" />
                      <button type="button" class="btn btn-main">+</button>
                      <div clear="clear-fix"></div>
                  </div>-->

              </li>
              <li><a href="#">Click เพื่อดูรายละเอียด</a></li>
          </ul>
      </div>


      <div class="product-box">
          <img src="contents/images/top-slider/01.jpg" />
          <div class="product-box-title">
              เปิดแล้ว!!! Pre-Order SALMORN T-Shirt
          </div>
          <ul>
              <li><b>ราคา: </b> 299 บาท</li>
              <li><b>ระยะเวลา pre-order: </b> ไม่กำหนด</li>
              <li style="padding: 10px 0px;">
                  <button class="btn btn-main">Buy it now</button>
                  <button class="btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
              </li>
              <li><a href="#">Click เพื่อดูรายละเอียด</a></li>
          </ul>
      </div>

      <div class="product-box">
          <img src="contents/images/top-slider/01.jpg" />
          <div class="product-box-title">
              เปิดแล้ว!!! Pre-Order SALMORN T-Shirt
          </div>
          <ul>
              <li><b>ราคา: </b> 299 บาท</li>
              <li><b>ระยะเวลา pre-order: </b> ไม่กำหนด</li>
              <li style="padding: 10px 0px;">
                  <button class="btn btn-main">Buy it now</button>
                  <button class="btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>
              </li>
              <li><a href="#">Click เพื่อดูรายละเอียด</a></li>
          </ul>
      </div>

      <div style="clear: both;"></div>
  </div>
</div>

<div class="content-box gallery">
  <div class="content-box-title"><h1>Gallery<a href="#">ดูเพิ่มเติม</a></h1></div>
  <div class="content-box-body">
      <div class="gallery-box">
          <img src="contents/images/top-slider/01.jpg" />
          <div class="gallery-box-title">
              Orn BNK48
          </div>
      </div>
      <div class="gallery-box">
          <img src="contents/images/top-slider/01.jpg" />
          <div class="gallery-box-title">
              Orn BNK48
          </div>
      </div>
      <div class="gallery-box">
          <img src="contents/images/top-slider/01.jpg" />
          <div class="gallery-box-title">
              Orn BNK48
          </div>
      </div>
      <div class="gallery-box">
          <img src="contents/images/top-slider/01.jpg" />
          <div class="gallery-box-title">
              Orn BNK48
          </div>
      </div>
      <div class="gallery-box">
          <img src="contents/images/top-slider/01.jpg" />
          <div class="gallery-box-title">
              Orn BNK48
          </div>
      </div>
      <div class="gallery-box">
          <img src="contents/images/top-slider/01.jpg" />
          <div class="gallery-box-title">
              Orn BNK48
          </div>
      </div>
      <div class="gallery-box">
          <img src="contents/images/top-slider/01.jpg" />
          <div class="gallery-box-title">
              Orn BNK48
          </div>
      </div>
      <div class="gallery-box">
          <img src="contents/images/top-slider/01.jpg" />
          <div class="gallery-box-title">
              Orn BNK48
          </div>
      </div>
      

      <div style="clear: both;"></div>
  </div>
</div>